.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #ffe8cf;
}

.petbook-logo {
  display: flex;
  width: 7em;
}

.header h1 {
  display: flex;
  font-size: 3.2em;
  margin: 0.3rem 0rem;
  font-family: 'Aleo', sans-serif;
}
.header h2 {
  display: flex;
  font-size: 1em;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 340px) {
  .petbook-logo {
    width: 5.5em;
  }
  .header h1 {
    font-size: 2.4em;
  }
  .header h2 {
    font-size: 0.85em;
  }
}
